* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px 50px;

}

.img-header {

    width: 180px;
    top: 57px;
    left: 85px;
    opacity: 1;
    padding: 16px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    color: white;
    text-decoration: none;


}

a:hover {
    color: #D7C4A3
}




a.meulink-header {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-style: medium;
}

.logo-banner {

    width: 250px;

}

.paragrafo-inicial {

    color: white;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    width: 50%;
    justify-content: center;


}

.banner-inicial {

    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/section2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;


}

h1 {
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 60px;
    text-align: center;
    margin: 40px auto;

}

.item-1,
.item-2,
.item-3,
.item-4 {
    background: #918b8b;
    width: 240px;
    height: 291px;
    display: inline-block;
    margin: 33px;
    border-radius: 10px;
    padding: 35px;
    align-items: center;

}


.img-itens {
    width: 70px;
    border-radius: 10px;
    opacity: 1;
    padding: 15px auto;
    align-items: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;



}

.texto-itensT {
    text-align: bottom;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding: 10px;
    justify-self: center;


}

.paragrafo-itensP {
    width: 137;
    height: 37px;
    opacity: 1;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    padding: 10px;
    margin: 15px auto;
    display: flex;
    text-align: center;


}

.itens-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px auto;

}

.sobre-nos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/sobre\ nós-banner.png");
    border-radius: 10px;
    width: 100%;
    height: 400px;
    margin: 20px;


}

.subtitulo-sobrenos {

    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -5%;
    margin: 30px 30px 30px 30px;
    color: aliceblue;

}

.texto-sobreNos {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-align: justify;
    margin-top: 30px;
    margin-left: 20px;
    width: 40%;
    height: 203px;
    color: white;
    font-style: normal;

}

.Banner-serviços {
    background-color: rgb(0, 0, 0);
    margin: 30px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 700px;



}

.serviço {
    background-color: #675E5663;
    width: 343px;
    height: 418px;
    border-radius: 20px;
    color: white;
    margin: 25px;
    text-align: center;
    gap: 20px;



}

.titulo-serviços {
    margin-top: 25px;
    padding: 15px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 2px;
    justify-content: center;

}

.texto-serviços {
    margin: 10px;
    width: 70%;
    height: 87px;
    margin: 10px auto;
    text-align: center;

}

.titulo-principal {
    color: #D7C4A3;
    text-align: center;
    margin: 148px auto;
    display: flex;
    justify-content: center;
    
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;

}